# PRACTICA GUIADA 1: Agregando y agrupando datos

* La sumarización es parte fundamental del análisis: computar medidas como ``sum()``, ``mean()``, ``median()``, ``min()`` y ``max()`` son tareas básicas para comenzar a explorar un dataset.

* En esta sección veremos algunas opciones para realizar agregaciones de datos en Pandas.

In [1]:
import numpy as np
import pandas as pd

## Analizando la encuesta en centros de atención turística

El GCBA realiza encuestas a los turistas que se acercan a los centros de atención. Se pregunta el motivo de la consulta, los días que dura el viaje, el país de origen, entre otras cosas.

El dataset es de acceso público en el portal de datos abiertos del GCBA.

In [2]:
turistas = pd.read_csv("../Data/resultado-de-encuestas-2016.csv", sep = ";")
turistas.shape

(106942, 53)

In [3]:
turistas.head()

,X,Y,ID,FECHA,CAT,DIRECCION,BARRIO,COMUNA,PASAJEROS,PERNOCTACIONES,...,SALUD,TANGO,VISITAS_GUIADAS,ESTUDIANTE_EXTRANJERO,CONSULTA_DE_PASAJERO_EN_TRANSITO,SUBE,APPS,SURF_URBANO,USO_DE_INSTALACIONES,CANT_DE_MOTIVOS
0,"-58,412118","-34,571635",1,14/06/2016,PLANETARIO,AV. SARMIENTO Y AV. FIGUEROA ALCORTA,PALERMO,COMUNA 14,2,7,...,0,0,0,0,0,0,0,0,0,2
1,"-58,412118","-34,571635",2,14/06/2016,PLANETARIO,AV. SARMIENTO Y AV. FIGUEROA ALCORTA,PALERMO,COMUNA 14,2,15,...,0,0,0,0,0,0,0,0,0,1
2,"-58,412118","-34,571635",3,14/06/2016,PLANETARIO,AV. SARMIENTO Y AV. FIGUEROA ALCORTA,PALERMO,COMUNA 14,2,8,...,0,0,0,0,0,0,0,0,0,3
3,"-58,412118","-34,571635",4,14/06/2016,PLANETARIO,AV. SARMIENTO Y AV. FIGUEROA ALCORTA,PALERMO,COMUNA 14,5,7,...,0,0,0,0,0,0,0,0,0,7
4,"-58,412118","-34,571635",5,14/06/2016,PLANETARIO,AV. SARMIENTO Y AV. FIGUEROA ALCORTA,PALERMO,COMUNA 14,2,3,...,0,0,0,0,0,0,0,0,0,1

Veamos todas las columnas

In [3]:
turistas.columns

Index(['X', 'Y', 'ID', 'FECHA', 'CAT', 'DIRECCION', 'BARRIO', 'COMUNA',
       'PASAJEROS', 'PERNOCTACIONES', 'ARGENTINA', 'PAIS_EXT', 'ACCESIBILIDAD',
       'AGENCIAS_COMPAÑIAS_AEREAS', 'AGENDA_CULTURAL', 'ALOJAMIENTO',
       'ALREDEDORES_BA', 'ARTE_Y_ARQUITECTURA', 'ATRACTIVOS_TURISTICOS',
       'CAMBIO_BANCO_CAJEROS', 'BARRIOS', 'BICICLETAS', 'BUS_TURISTICO',
       'COMPRAS', 'DEPORTES', 'EVENTOS_ESPECTACULOS', 'FERIAS_MERCADOS',
       'GASTRONOMIA', 'GUIAS_TEMATICAS', 'INFO_ARGENTINA', 'INFO_URUGUAY',
       'LGBTIQ', 'LITERARIO', 'MAPAS_CIUDAD', 'MUSEOS', 'NIÑOS',
       'VIDA_NOCTURNA', 'ORGANISMOS_OFICIALES', 'ORIENTACION_TRANSPORTE',
       'OTROS', 'PARQUES', 'QUE_HACER_EN_BA', 'RELIGIOSO', 'SALUD', 'TANGO',
       'VISITAS_GUIADAS', 'ESTUDIANTE_EXTRANJERO',
       'CONSULTA_DE_PASAJERO_EN_TRANSITO', 'SUBE', 'APPS', 'SURF_URBANO',
       'USO_DE_INSTALACIONES', 'CANT_DE_MOTIVOS'],
      dtype='object')

Veamos si el dataset tiene datos faltantes.

In [4]:
turistas.isnull().sum()

X                                   0
Y                                   0
ID                                  0
FECHA                               0
CAT                                 0
DIRECCION                           0
BARRIO                              0
COMUNA                              0
PASAJEROS                           0
PERNOCTACIONES                      0
ARGENTINA                           0
PAIS_EXT                            0
ACCESIBILIDAD                       0
AGENCIAS_COMPAÑIAS_AEREAS           0
AGENDA_CULTURAL                     0
ALOJAMIENTO                         0
ALREDEDORES_BA                      0
ARTE_Y_ARQUITECTURA                 0
ATRACTIVOS_TURISTICOS               0
CAMBIO_BANCO_CAJEROS                0
BARRIOS                             0
BICICLETAS                          0
BUS_TURISTICO                       0
COMPRAS                             0
DEPORTES                            0
EVENTOS_ESPECTACULOS                0
FERIAS_MERCADOS                     0
GASTRONOMIA                         0
GUIAS_TEMATICAS                     0
INFO_ARGENTINA                      0
INFO_URUGUAY                        0
LGBTIQ                              0
LITERARIO                           0
MAPAS_CIUDAD                        0
MUSEOS                              0
NIÑOS                               0
VIDA_NOCTURNA                       0
ORGANISMOS_OFICIALES                0
ORIENTACION_TRANSPORTE              0
OTROS                               0
PARQUES                             0
QUE_HACER_EN_BA                     0
RELIGIOSO                           0
SALUD                               0
TANGO                               0
VISITAS_GUIADAS                     0
ESTUDIANTE_EXTRANJERO               0
CONSULTA_DE_PASAJERO_EN_TRANSITO    0
SUBE                                0
APPS                                0
SURF_URBANO                         0
USO_DE_INSTALACIONES                0
CANT_DE_MOTIVOS                     0
dtype: int64

Parecería ser que no hay datos faltantes.

## Agregaciones simples en Pandas

* Al igual que en un array de una dimensión para una ``Series`` la agregación devuelve un valor único. Veamos cuántos días en total y en promedio dura el viaje de las personas que se acercaron a estos centros de atención.

In [6]:
turistas["PERNOCTACIONES"].sample(25)

91752     NS/NC
106822        1
60429     NS/NC
9231          2
41479     NS/NC
68684         5
97921     NS/NC
11199     NS/NC
39896         2
100968        4
79521         2
59362         5
8060      NS/NC
106746        1
19061     NS/NC
37125         1
77324     NS/NC
106212    NS/NC
103923        7
88470     NS/NC
18975        10
90445         1
56936         6
48563         4
91728         0
Name: PERNOCTACIONES, dtype: object

Veamos que la columna incluye valores no numéricos. Primero tenemos que removerlos y luego podemos hacer los cálculos.

In [7]:
# el método str.extract permite extraer un grupo pasando una REGEX. Para probar REGEX se puede entrar en https://regex101.com/ o https://regexr.com/ 

turistas['PERNOCTACIONES'] = turistas['PERNOCTACIONES']\
                             .str.extract('(\d+)', expand=False).astype('float')

In [8]:
turistas["PERNOCTACIONES"].sample(25)

70177     5.0
74518     3.0
68217     NaN
60915     3.0
2382      4.0
93097     3.0
26598     4.0
13543     1.0
95506     3.0
58945    10.0
9936     10.0
5416      NaN
93221     4.0
25120     5.0
77657     NaN
58995     5.0
26354     7.0
61391     3.0
51044     2.0
40214     NaN
37868     NaN
9698     30.0
25325     NaN
94581     NaN
91800     NaN
Name: PERNOCTACIONES, dtype: float64

In [9]:
turistas["PERNOCTACIONES"].fillna(turistas["PERNOCTACIONES"].mean(), inplace=True)

In [10]:
print('Suma de Pernoctaciones: {:.2f}'.format(turistas["PERNOCTACIONES"].sum()))

Suma de Pernoctaciones: 742210.12

In [11]:
print('Media de Pernoctaciones: {:.2f}'.format(turistas["PERNOCTACIONES"].mean()))

Media de Pernoctaciones: 6.94

* Para un ``DataFrame``, los `aggregate` retornan por default resultados al interior de cada columna:

* Especificando el argumento ``axis`` es posible agregar los resultados para cada fila.

**Nota:** Al igual que en el caso de NumPy, en `axis` se define la dimensión sobre la que se colapsan los datos. Si quiero resultados por fila, entonces, `axis='columns'` y en otro caso `axis='rows'`

En el archivo ya viene calculada la cantidad de motivos por los que se acercan los turistas. Calculemos nosotros ese dato y comparémoslo con el original, ya que es común que hayan errores en la información.

In [12]:
# Los motivos van desde la columna ACCESIBILIDAD hasta USO_DE_INSTALACIONES
# Calculo la suma por fila
n_motivos_calculado = turistas.loc[:,"ACCESIBILIDAD":"USO_DE_INSTALACIONES"]\
                      .sum(axis = 'columns')
# Me quedo con el valor original
n_motivos_original = turistas['CANT_DE_MOTIVOS']

# Vemos que hay errores en el campo original:
print('¿Cantidad total calculada y original son iguales? {}'\
       .format(n_motivos_calculado.equals(n_motivos_original)))

¿Cantidad total calculada y original son iguales? False

In [13]:
# ¿Cuántos están mal? 52
(n_motivos_calculado != n_motivos_original).sum()

52

* Las ``Series`` y ``DataFrame`` de Pandas incluyen muchas funciones de agregación.

* Hay, además, un método ``describe()`` que computa algunas medidas agregadas por defecto para cada columna y devuelve un `DataFrame` como resultado.

In [14]:
turistas[['PASAJEROS', 'PERNOCTACIONES']].describe()

           PASAJEROS  PERNOCTACIONES
count  106942.000000   106942.000000
mean        1.961764        6.940305
std         1.327208       16.447574
min         1.000000        0.000000
25%         1.000000        4.000000
50%         2.000000        6.940305
75%         2.000000        6.940305
max       150.000000      365.000000

Podemos observar que hay valores raros, ya que en pasajeros vemos 150... ¿es un error o nos falta conocer "el negocio"? Tal vez alguien consulto por un grupo de viajeros...

* ¿Qué pueden decir de estos datos?

In [15]:
# Alternativas para el método .describe()

turistas.describe(percentiles=[0.1,0.25,0.35,0.5,0.8], include='float')

       PERNOCTACIONES
count   106942.000000
mean         6.940305
std         16.447574
min          0.000000
10%          2.000000
25%          4.000000
35%          5.000000
50%          6.940305
80%          6.940305
max        365.000000

Resumen de algunas funciones de agregación en Pandas:

| Aggregation              | Description                     |
|--------------------------|---------------------------------|
| ``count()``              | Total number of items           |
| ``mean()``, ``median()`` | Mean and median                 |
| ``min()``, ``max()``     | Minimum and maximum             |
| ``std()``, ``var()``     | Standard deviation and variance |
| ``mad()``                | Mean absolute deviation         |
| ``prod()``               | Product of all items            |
| ``sum()``                | Sum of all items                |

Todos son métodos de los objetos ``DataFrame`` y ``Series``.

* Muchas veces esto no es suficiente y es necesario usar otras operaciones de sumarización.
* La operación ``groupby`` permite computar medidas agregadas de forma eficente en subsets de los datos.

## GroupBy: Split, Apply, Combine

* Muchas veces es importante poder realizar operaciones de agregación de forma condicional a algún subconjunto de datos (por ejemplo, para los casos que cumplen alguna condición). Esto es implementado por el operador `groupby`
* El nombre `groupby` proviene del lenguaje SQL.
* Es útil pensarlo en los términos de Hadley Wickham: *split, apply, combine* (dividir-aplicar-combinar)

### Split, apply, combine

![title](img/split-apply-combine.png)

- El paso *split*  implica dividir y reagrupar un ``DataFrame`` en base a una determinada key.
- El paso *apply* supone computar alguna función (generalmente, alguna agregación, transformación o filtro) sobre los grupos constituidos en el paso anterior.
- El paso *combine* hace un "merge" de los resultados de dichas operaciones en un nuevo array.

* Si bien cada uno de los pasos pueden hacerse "manualmente", el ``GroupBy`` generalmente puede hacerlo en un solo paso.
* La ventaja del ``GroupBy`` es que permite abstraer los tres pasos anteriores: el usuario no necesita pensar en "cómo" hacer el cómputo, sino más bien pensar la operación como un todo.

* La operación split-apply-combine más básica con el método ``groupby()`` es pasar el nombre de una determinada clave de columna:

### El objeto GroupBy

* El objeto ``GroupBy`` es un abstracción muy flexible.
* Puede ser tratado como una colección de `DataFrame` y hace algunas cosas complicadas por detrás...
* Quizá las operaciones más importantes de un objeto ``GroupBy`` sean las *aggregate*, *filter*, *transform*, y *apply*

In [16]:
turistas.groupby('PAIS_EXT')

In [17]:
turistas.groupby('PAIS_EXT').groups

{' ': Int64Index([     3,      4,      7,     13,     14,     15,     17,     20,
                 21,     24,
             ...
             106921, 106922, 106923, 106924, 106925, 106926, 106933, 106934,
             106935, 106936],
            dtype='int64', length=39685),
 'ALBANIA': Int64Index([41439], dtype='int64'),
 'ALEMANIA': Int64Index([    43,    587,    631,    636,    690,    696,    965,   1033,
               1047,   1196,
             ...
             106760, 106775, 106852, 106883, 106886, 106888, 106894, 106896,
             106931, 106941],
            dtype='int64', length=2501),
 'ANDORRA': Int64Index([25100], dtype='int64'),
 'ANGOLA': Int64Index([64760, 65797, 72922, 83720], dtype='int64'),
 'ARABIA SAUDITA': Int64Index([25249, 26785], dtype='int64'),
 'ARGELIA': Int64Index([51307], dtype='int64'),
 'ARMENIA': Int64Index([  9985,  26950,  28792,  46824,  64241,  65335,  65626,  65646,
              65912,  66041,  74395, 101254],
            dtype='int64'),
 'ARUBA': Int64Index([38545, 47961], dtype='int64'),
 'AUSTRALIA': Int64Index([   421,    760,    807,   1213,   1258,   1314,   1334,   1407,
               1583,   1936,
             ...
             106154, 106230, 106331, 106351, 106400, 106402, 106533, 106606,
             106621, 106904],
            dtype='int64', length=1474),
 'AUSTRIA': Int64Index([  1292,   1777,   1796,   3549,   4698,   5695,   6335,   7076,
               8184,   8364,
             ...
             103338, 103467, 104796, 104801, 106080, 106349, 106388, 106464,
             106797, 106889],
            dtype='int64', length=181),
 'AZERBAIYAN': Int64Index([67042], dtype='int64'),
 'BAHAMAS': Int64Index([1546, 64306, 64485, 65188], dtype='int64'),
 'BANGLADESH': Int64Index([26836], dtype='int64'),
 'BELGICA': Int64Index([  2025,   2640,   3279,   5438,   7086,   9975,  10154,  10518,
              12112,  12922,
             ...
             100419, 102270, 102342, 102410, 102541, 103635, 103685, 103729,
             104947, 106640],
            dtype='int64', length=193),
 'BERMUDAS': Int64Index([73525], dtype='int64'),
 'BIELORRUSIA': Int64Index([8555, 36580, 36641], dtype='int64'),
 'BOLIVIA': Int64Index([    22,    194,    442,    614,    693,    867,    943,   1048,
               1127,   1139,
             ...
             105424, 105475, 105692, 105876, 106013, 106047, 106084, 106174,
             106378, 106694],
            dtype='int64', length=525),
 'BOSNIA Y HERZEGOVINA': Int64Index([35973], dtype='int64'),
 'BRASIL': Int64Index([     5,      6,      9,     12,     18,     19,     29,     38,
                 39,     42,
             ...
             106752, 106754, 106779, 106826, 106828, 106845, 106850, 106872,
             106932, 106940],
            dtype='int64', length=18613),
 'BRUNEI': Int64Index([71771], dtype='int64'),
 'BULGARIA': Int64Index([ 3250, 10973, 18125, 23286, 26985, 35479, 36132, 36271, 37023,
             38462, 42256, 43411, 67416, 91550, 94710, 96788],
            dtype='int64'),
 'CABO VERDE': Int64Index([65052], dtype='int64'),
 'CANADA': Int64Index([   215,    501,    568,    724,    970,   1451,   1531,   1599,
               1637,   1937,
             ...
             105645, 105674, 105723, 105908, 105969, 106071, 106203, 106525,
             106882, 106927],
            dtype='int64', length=1165),
 'CATAR': Int64Index([63617, 63637, 65783], dtype='int64'),
 'CHILE': Int64Index([    31,     32,    102,    105,    124,    146,    153,    174,
                199,    227,
             ...
             106803, 106842, 106855, 106863, 106869, 106878, 106895, 106900,
             106937, 106939],
            dtype='int64', length=5630),
 'CHINA': Int64Index([   434,    490,    623,    682,    713,    761,    941,    949,
               1122,   1224,
             ...
             105229, 105261, 105518, 105536, 105554, 105851, 106342, 106397,
             106637, 106898],
            dtype='int64', length=636),
 'COLOMBIA': Int64Index([    10,     41,     63,    119,    203,    211,    244,    254,
                264,    331,
             ...
             106510, 106584, 106608, 106646, 106669, 106702, 106736, 106792,
             106818, 106908],
            dtype='int64', length=3545),
 'COREA DEL NORTE': Int64Index([57992, 58849, 61897, 63540, 63722, 63752, 64610, 65363, 66707,
             68733],
            dtype='int64'),
 'COREA DEL SUR': Int64Index([   496,    767,    866,   1197,   1212,   1305,   1391,   1756,
               1819,   1895,
             ...
             106315, 106348, 106458, 106486, 106566, 106632, 106656, 106675,
             106724, 106851],
            dtype='int64', length=376),
 'COSTA RICA': Int64Index([  2017,   2018,   2324,   2747,   2812,   2874,   3088,   3095,
               5818,   8144,
             ...
             104753, 104882, 105044, 105120, 105185, 105510, 105513, 105573,
             105605, 106877],
            dtype='int64', length=218),
 'CROACIA': Int64Index([  9662,   9734,   9964,  16210,  16746,  25755,  27650,  28240,
              31638,  32857,  33440,  34152,  35794,  37675,  38739,  45325,
              46027,  69718,  70170,  76576,  82315,  82860,  92279,  93841,
             106516],
            dtype='int64'),
 'CUBA': Int64Index([ 6135,  6724,  7542, 10232, 10994, 11747, 14095, 14145, 14177,
             14774, 14780, 23026, 25930, 29810, 40699, 41883, 46413, 46554,
             48387, 57630, 57989, 58438, 62691, 65733, 67246, 73592, 81510,
             82790, 87156, 92584, 93510],
            dtype='int64'),
 'DINAMARCA': Int64Index([  4935,   5348,   6802,   6912,   6971,   7296,   7335,   7948,
               8459,   8785,
             ...
              98242,  99398, 101876, 105886, 105897, 106153, 106338, 106620,
             106690, 106884],
            dtype='int64', length=103),
 'DOMINICA': Int64Index([47665, 63408], dtype='int64'),
 'ECUADOR': Int64Index([    11,     37,    286,    288,    296,    315,   1083,   1188,
               1191,   1439,
             ...
             105190, 105209, 105275, 105316, 105429, 105579, 105716, 106214,
             106526, 106795],
            dtype='int64', length=782),
 'EGIPTO': Int64Index([20447, 26877, 35625, 41158, 42950, 46849, 56274, 56956, 58580,
             69013, 73346, 90632],
            dtype='int64'),
 'EL SALVADOR': Int64Index([  2823,   2931,   6699,   7824,   7828,   8523,  10650,  10931,
              11138,  11200,  11781,  12203,  13351,  15106,  16439,  19942,
              20017,  20267,  21337,  21351,  22804,  23441,  25114,  26131,
              27450,  31634,  32853,  34539,  35034,  35054,  35280,  40720,
              42417,  46230,  47637,  50299,  51172,  55828,  55842,  55958,
              57472,  64467,  71866,  74004,  74112,  79415,  83973,  84840,
              86666,  88741,  89738,  98228, 101204],
            dtype='int64'),
 'EMIRATOS ARABES UNIDOS': Int64Index([67068, 85119], dtype='int64'),
 'ESLOVAQUIA': Int64Index([  8075,  14680,  19432,  21216,  24058,  46394,  56686,  65643,
              65644,  65794,  65803,  66548,  68740,  69044,  76625,  80408,
              80971,  89261,  95498, 106010],
            dtype='int64'),
 'ESLOVENIA': Int64Index([   287,   1209,  13710,  14716,  14777,  16306,  27252,  30044,
              30045,  33505,  35116,  35343,  35978,  38220,  39152,  41144,
              42518,  46193,  57908,  77464,  90541,  91443,  97618, 100038,
             102206, 102388, 106652],
            dtype='int64'),
 'ESPAÑA': Int64Index([    46,    185,    221,    378,    408,    474,    598,    611,
                649,    650,
             ...
             106545, 106562, 106617, 106655, 106771, 106773, 106786, 106794,
             106876, 106938],
            dtype='int64', length=4402),
 'ESTADOS UNIDOS': Int64Index([     1,      2,     26,     34,    104,    180,    212,    268,
                368,    405,
             ...
             106222, 106267, 106473, 106508, 106586, 106629, 106687, 106728,
             106757, 106807],
            dtype='int64', length=5604),
 'ESTONIA': Int64Index([21355, 36219, 65545, 80602, 82425, 90013, 94038], dtype='int64'),
 'FILIPINAS': Int64Index([ 6577, 15049, 17675, 23602, 29847, 31270, 32489, 33535, 34319,
             36426, 36493, 36967, 37054, 39537, 40521, 41374, 63172, 63706,
             67143, 67251, 70814, 76260, 84990, 88095, 88519],
            dtype='int64'),
 'FINLANDIA': Int64Index([  1193,   1331,   7165,  13827,  15023,  15056,  16167,  17380,
              18207,  21140,  21526,  21595,  22136,  25604,  26818,  28016,
              28043,  28298,  29342,  31274,  31314,  32493,  32533,  34054,
              35374,  35425,  36648,  38747,  38812,  39723,  40205,  40312,
              42366,  42383,  42406,  43160,  44046,  44652,  46137,  55907,
              55932,  57510,  60006,  63778,  63969,  65357,  65953,  71735,
              77013,  78865,  78942,  80693,  82028,  83799,  86519,  89771,
              93224,  94034,  95168,  96649,  99179, 101792, 102401, 105728,
             106006, 106647],
            dtype='int64'),
 'FRANCIA': Int64Index([   379,    477,    488,    502,    718,    721,    870,    978,
                993,   1105,
             ...
             106832, 106838, 106846, 106854, 106864, 106879, 106892, 106893,
             106899, 106929],
            dtype='int64', length=3458),
 'GEORGIA': Int64Index([29018], dtype='int64'),
 'GRECIA': Int64Index([   806,   7563,  10167,  16517,  16993,  17007,  17515,  18698,
              20047,  20195,  20253,  21427,  23114,  23403,  23540,  24027,
              25163,  26949,  27060,  33058,  34171,  37679,  40323,  40667,
              41025,  42796,  44066,  44612,  44724,  46147,  46437,  46661,
              48772,  48773,  49281,  52986,  57812,  59256,  59506,  63836,
              63900,  67315,  67798,  68458,  70072,  70557,  71614,  73104,
              73148,  77054,  79653,  84190,  85083,  87524,  87811,  88383,
              90964,  92937,  97556,  99397, 100181, 101562, 101788, 102511,
             103845, 105005],
            dtype='int64'),
 'GUATEMALA': Int64Index([  1759,   1984,   3215,   3674,   3820,   3898,   5626,   5725,
               6488,   7276,   7338,   7649,   8250,  10314,  10960,  12663,
              13717,  13729,  15253,  15902,  16179,  17362,  18874,  19256,
              22099,  22703,  23207,  23362,  23665,  25528,  27239,  27264,
              27485,  29730,  35983,  35987,  36045,  36989,  40399,  40635,
              43399,  45951,  46834,  46958,  47060,  47155,  47172,  47306,
              47988,  48866,  52896,  58201,  58616,  62218,  63003,  67071,
              67222,  67244,  67254,  72461,  73308,  77947,  79889,  79898,
              81404,  82466,  83723,  84223,  84872,  87277,  88564,  88758,
              89505,  89866,  89928,  90032,  90061,  94996,  96056,  96450,
              96776,  97507,  97703, 100158, 102580, 104739],
            dtype='int64'),
 'GUINEA': Int64Index([42412], dtype='int64'),
 'GUINEA ECUATORIAL': Int64Index([83132], dtype='int64'),
 'GUYANA': Int64Index([66987], dtype='int64'),
 'HAITI': Int64Index([6386, 14470, 21086, 25103, 53491, 59352, 62182, 63935, 63962,
             82981],
            dtype='int64'),
 'HOLANDA': Int64Index([  926,  1698,  1711,  2738,  2896,  3228,  3840,  4075,  4226,
              5739,
             ...
             44841, 44963, 45184, 45294, 45444, 45485, 45628, 45945, 46280,
             46318],
            dtype='int64', length=195),
 'HONDURAS': Int64Index([ 23381,  29625,  30995,  32214,  40918,  41998,  47463,  47765,
              63879,  65375,  65716,  65745,  65810,  65990,  66549,  74390,
              78880,  84318,  89670,  90226, 105403],
            dtype='int64'),
 'HONG KONG': Int64Index([63559], dtype='int64'),
 'HUNGRIA': Int64Index([ 13881,  14876,  22862,  24311,  26286,  26512,  26870,  28011,
              28368,  29473,  35543,  35655,  36499,  36650,  37106,  37643,
              37913,  38511,  39743,  40508,  40584,  40925,  44041,  44742,
              45187,  46656,  46672,  54943,  55898,  55923,  56000,  69057,
              80225,  92200,  96758,  99743,  99809, 102350],
            dtype='int64'),
 'INDIA': Int64Index([  1010,   1543,   2769,   2824,   2924,   2982,   3158,   3435,
               3465,   3480,
             ...
             104243, 104456, 104913, 104922, 105067, 105105, 105337, 105404,
             105638, 105892],
            dtype='int64', length=196),
 'INDONESIA': Int64Index([4016, 33838, 34147, 40828, 59423, 62662, 64168, 64229], dtype='int64'),
 'IRAN': Int64Index([89938], dtype='int64'),
 'IRLANDA': Int64Index([  4764,   4931,   5458,   6884,   7394,  10745,  11214,  12202,
              12584,  13675,
             ...
              97143,  97587, 100079, 101910, 101971, 103794, 106543, 106626,
             106824, 106902],
            dtype='int64', length=140),
 'ISLA DE MAN': Int64Index([105770], dtype='int64'),
 'ISLANDIA': Int64Index([13628, 19449, 35827, 38279, 62935, 82762, 101159], dtype='int64'),
 'ISRAEL': Int64Index([   461,    639,    738,   1454,   1554,   1643,   1976,   3501,
               3582,   3771,
             ...
             106528, 106554, 106557, 106565, 106574, 106607, 106658, 106769,
             106844, 106881],
            dtype='int64', length=553),
 'ITALIA': Int64Index([     8,    329,    376,    507,    541,    626,    689,   1079,
               1356,   1452,
             ...
             106583, 106628, 106643, 106682, 106714, 106799, 106814, 106865,
             106871, 106909],
            dtype='int64', length=1757),
 'JAMAICA': Int64Index([5753, 7859, 38788, 52404], dtype='int64'),
 'JAPON': Int64Index([    97,    427,    450,    505,    610,    865,    899,   1199,
               1243,   1477,
             ...
             106470, 106507, 106517, 106611, 106683, 106837, 106890, 106891,
             106897, 106930],
            dtype='int64', length=574),
 'JORDANIA': Int64Index([52957], dtype='int64'),
 'KENIA': Int64Index([67107, 76607, 104075], dtype='int64'),
 'LETONIA': Int64Index([21023, 22289, 22326, 37388, 52654, 80831, 99896, 106635, 106868], dtype='int64'),
 'LIBANO': Int64Index([18841, 29394, 75571, 92859], dtype='int64'),
 'LITUANIA': Int64Index([  1794,  16433,  21857,  24786,  25693,  25760,  25913,  29223,
              29225,  35158,  35851,  37102,  38868,  39861,  40632,  46747,
              75853,  93561, 103969, 106122, 106542],
            dtype='int64'),
 'LUXEMBURGO': Int64Index([25166, 62408, 98933, 99666], dtype='int64'),
 'MACAO': Int64Index([63813], dtype='int64'),
 'MACEDONIA': Int64Index([2814, 18867, 41902, 89246], dtype='int64'),
 'MADAGASCAR': Int64Index([56713], dtype='int64'),
 'MALASIA': Int64Index([  544,  7482,  7933,  8193, 15450, 16997, 17019, 18391, 19443,
             20158, 20222, 32918, 34753, 35537, 41974, 42426, 42698, 42977,
             43341, 63747, 65162, 67114, 75389, 78203, 82043, 83510, 88225],
            dtype='int64'),
 'MALTA': Int64Index([39494, 47321], dtype='int64'),
 'MARRUECOS': Int64Index([  8749,   8838,  19396,  36519,  41954,  45943,  53649,  66424,
              82585,  85749,  87026,  88274,  89627,  91681,  92137,  92296,
             101385, 102398, 103590, 103888, 103928, 104308, 106873],
            dtype='int64'),
 'MEXICO': Int64Index([   107,    138,    235,    237,    293,    318,    337,    374,
                572,    622,
             ...
             105672, 105681, 105691, 105726, 105735, 105865, 106163, 106276,
             106411, 106631],
            dtype='int64', length=2155),
 'MONACO': Int64Index([26145], dtype='int64'),
 'MONGOLIA': Int64Index([65070], dtype='int64'),
 'MONTENEGRO': Int64Index([9201], dtype='int64'),
 'MOZAMBIQUE': Int64Index([44143], dtype='int64'),
 'NEPAL': Int64Index([66030], dtype='int64'),
 'NICARAGUA': Int64Index([  1792,   2069,   5643,   8815,   8830,  17276,  17486,  21068,
              24804,  40187,  47649,  54067,  54969,  62491,  80417,  81197,
             105590],
            dtype='int64'),
 'NIGERIA': Int64Index([22986, 51422, 66675, 68048, 74242], dtype='int64'),
 'NORUEGA': Int64Index([  5029,   8819,  11764,  15297,  16161,  16894,  16972,  17230,
              19398,  20934,
             ...
             101219, 101629, 103033, 103139, 103221, 103278, 103529, 103945,
             104921, 106170],
            dtype='int64', length=117),
 'NUEVA CALEDONIA': Int64Index([10700, 93172], dtype='int64'),
 'NUEVA ZELANDA': Int64Index([    16,    497,    860,    962,   1115,   1435,   1499,   1532,
               1572,   1635,
             ...
             104021, 104809, 105577, 105684, 105708, 105731, 105853, 106406,
             106808, 106829],
            dtype='int64', length=316),
 'PAISES BAJOS': Int64Index([ 47366,  47736,  49451,  49485,  50716,  51569,  52219,  52349,
              52909,  52965,
             ...
             103345, 103946, 103974, 104069, 104307, 104953, 104976, 105762,
             106412, 106768],
            dtype='int64', length=193),
 'PAKISTAN': Int64Index([24316, 71372, 81794], dtype='int64'),
 'PANAMA': Int64Index([  1164,   1808,   1809,   5670,   6342,   7380,   8245,  10982,
              11717,  12450,  13762,  16632,  18948,  19365,  23375,  24341,
              25778,  29746,  34522,  34903,  36120,  36139,  36523,  36601,
              36602,  41909,  41930,  44267,  44924,  45254,  51086,  51116,
              56093,  59136,  59661,  61446,  62325,  62788,  64297,  69300,
              70271,  71540,  72605,  73861,  74910,  74997,  75219,  76084,
              81606,  87348,  87452,  88314,  91237,  96580,  97411,  97449,
              97519,  97552,  97750,  97943, 100021, 105422, 105705],
            dtype='int64'),
 'PARAGUAY': Int64Index([   277,    472,    920,    939,   1089,   1274,   1282,   1286,
               1538,   1549,
             ...
             106410, 106418, 106419, 106453, 106457, 106571, 106591, 106668,
             106692, 106784],
            dtype='int64', length=598),
 'PERU': Int64Index([   167,    186,    207,    224,    353,    363,    399,    426,
                473,    500,
             ...
             106223, 106271, 106326, 106332, 106471, 106502, 106634, 106737,
             106860, 106928],
            dtype='int64', length=1417),
 'POLINESIA FRANCESA': Int64Index([65488], dtype='int64'),
 'POLONIA': Int64Index([   960,    982,   1425,   1561,   1679,   2728,   2742,   3031,
               3339,   3634,
             ...
             102354, 102357, 102394, 103559, 104032, 104320, 105338, 105550,
             105883, 106134],
            dtype='int64', length=205),
 'PORTUGAL': Int64Index([   935,   1118,   2208,   2966,   3107,   3229,   7584,   7743,
               8244,   8394,
             ...
              97074,  97592,  99875, 102934, 102942, 103524, 105210, 105352,
             105981, 106292],
            dtype='int64', length=158),
 'PUERTO RICO': Int64Index([   429,    469,    489,   2060,   2457,   2829,   2944,   3145,
               4061,   4236,   4244,   4297,   4334,   4411,   6390,   7450,
               7843,   7854,   8514,   9208,   9556,  14736,  15944,  16137,
              16990,  20607,  20876,  23119,  25531,  25535,  26246,  29911,
              40139,  40162,  40223,  40226,  40288,  43685,  43732,  43967,
              43976,  44842,  44870,  50657,  52899,  53041,  54200,  62705,
              62818,  62896,  63105,  64250,  65304,  66096,  67782,  69291,
              72777,  74188,  75417,  80040,  80042,  80081,  82861,  84786,
              93221,  98123,  99740,  99814, 100087, 100219],
            dtype='int64'),
 'REINO UNIDO': Int64Index([     0,     68,     94,     98,    187,    190,    257,    407,
                415,    446,
             ...
             106776, 106798, 106815, 106817, 106843, 106847, 106858, 106887,
             106901, 106907],

* Notar que no se retorna un ``DataFrame`` sino un objeto ``DataFrameGroupBy``.
* Se puede pensar en el `DataFrameGroupBy` como una vista especial de un `DataFrame` que construye los grupos pero que no realiza ningún cómputo hasta que la etapa de agregación es aplicada.
* Esta **"lazy evaluation"** hace que las operaciones de agregación puedan ser computadas de forma muy eficiente.
* Para producir un resultado podemos aplicar una función de agregación a este ``DataFrameGroupBy`` que a realizar la operación (apply) y avanzar en el paso de combine.

In [18]:
turistas[['PASAJEROS', 'PERNOCTACIONES','PAIS_EXT']]\
                                      .groupby('PAIS_EXT').sum().sort_values("PASAJEROS",\
                                       ascending = False).head()

                PASAJEROS  PERNOCTACIONES
PAIS_EXT
                    70292   240920.635840
BRASIL              41810   104006.099830
CHILE               12262    34669.305709
ESTADOS UNIDOS      11032    36470.006331
ESPAÑA               8728    37284.692595

* Se podría realizar virtualmente cualquier operación común de agregación de Pandas o NumPy y casi cualquier operación válida para un `DataFrame` como veremos a continuación.

#### Indexing de columnas

* El objeto ``GroupBy`` soporta el indexado de columnas de la misma forma que un ``DataFrame``, y devuelve un objeto ``GroupBy`` modificado:

In [19]:
turistas.groupby('PAIS_EXT')['ALREDEDORES_BA']

* Seleccionamos una ``Series`` particular del  ``DataFrame`` original referenciándolo con su nombre de columna.
* Al igual que antes, no se realiza ningún cómputo hasta que llamamos alguna función de agregación sobre el objeto.

In [20]:
turistas.groupby('PAIS_EXT')['ALREDEDORES_BA'].sum().sort_values(ascending = False).head()

PAIS_EXT
           546
BRASIL     382
CHILE      163
ESPAÑA     126
URUGUAY    108
Name: ALREDEDORES_BA, dtype: int64

* ¿Qué se observa en estos datos?

#### Iteración sobre grupos

* El objeto ``GroupBy`` soporta la iteración directa sobre grupos, devolviendo cada grupo como una ``Series`` o un ``DataFrame``.

In [21]:
for (pais, group) in turistas.groupby('PAIS_EXT'):
    print("{0:20} shape={1} ".format(pais, group.shape))

                     shape=(39685, 53)
ALBANIA              shape=(1, 53)
ALEMANIA             shape=(2501, 53)
ANDORRA              shape=(1, 53)
ANGOLA               shape=(4, 53)
ARABIA SAUDITA       shape=(2, 53)
ARGELIA              shape=(1, 53)
ARMENIA              shape=(12, 53)
ARUBA                shape=(2, 53)
AUSTRALIA            shape=(1474, 53)
AUSTRIA              shape=(181, 53)
AZERBAIYAN           shape=(1, 53)
BAHAMAS              shape=(4, 53)
BANGLADESH           shape=(1, 53)
BELGICA              shape=(193, 53)
BERMUDAS             shape=(1, 53)
BIELORRUSIA          shape=(3, 53)
BOLIVIA              shape=(525, 53)
BOSNIA Y HERZEGOVINA shape=(1, 53)
BRASIL               shape=(18613, 53)
BRUNEI               shape=(1, 53)
BULGARIA             shape=(16, 53)
CABO VERDE           shape=(1, 53)
CANADA               shape=(1165, 53)
CATAR                shape=(3, 53)
CHILE                shape=(5630, 53)
CHINA                shape=(636, 53)
COLOMBIA             shape=(3545, 53)
COREA DEL NORTE      shape=(10, 53)
COREA DEL SUR        shape=(376, 53)
COSTA RICA           shape=(218, 53)
CROACIA              shape=(25, 53)
CUBA                 shape=(31, 53)
DINAMARCA            shape=(103, 53)
DOMINICA             shape=(2, 53)
ECUADOR              shape=(782, 53)
EGIPTO               shape=(12, 53)
EL SALVADOR          shape=(53, 53)
EMIRATOS ARABES UNIDOS shape=(2, 53)
ESLOVAQUIA           shape=(20, 53)
ESLOVENIA            shape=(27, 53)
ESPAÑA               shape=(4402, 53)
ESTADOS UNIDOS       shape=(5604, 53)
ESTONIA              shape=(7, 53)
FILIPINAS            shape=(25, 53)
FINLANDIA            shape=(66, 53)
FRANCIA              shape=(3458, 53)
GEORGIA              shape=(1, 53)
GRECIA               shape=(66, 53)
GUATEMALA            shape=(86, 53)
GUINEA               shape=(1, 53)
GUINEA ECUATORIAL    shape=(1, 53)
GUYANA               shape=(1, 53)
HAITI                shape=(10, 53)
HOLANDA              shape=(195, 53)
HONDURAS             shape=(21, 53)
HONG KONG            shape=(1, 53)
HUNGRIA              shape=(38, 53)
INDIA                shape=(196, 53)
INDONESIA            shape=(8, 53)
IRAN                 shape=(1, 53)
IRLANDA              shape=(140, 53)
ISLA DE MAN          shape=(1, 53)
ISLANDIA             shape=(7, 53)
ISRAEL               shape=(553, 53)
ITALIA               shape=(1757, 53)
JAMAICA              shape=(4, 53)
JAPON                shape=(574, 53)
JORDANIA             shape=(1, 53)
KENIA                shape=(3, 53)
LETONIA              shape=(9, 53)
LIBANO               shape=(4, 53)
LITUANIA             shape=(21, 53)
LUXEMBURGO           shape=(4, 53)
MACAO                shape=(1, 53)
MACEDONIA            shape=(4, 53)
MADAGASCAR           shape=(1, 53)
MALASIA              shape=(27, 53)
MALTA                shape=(2, 53)
MARRUECOS            shape=(23, 53)
MEXICO               shape=(2155, 53)
MONACO               shape=(1, 53)
MONGOLIA             shape=(1, 53)
MONTENEGRO           shape=(1, 53)
MOZAMBIQUE           shape=(1, 53)
NEPAL                shape=(1, 53)
NICARAGUA            shape=(17, 53)
NIGERIA              shape=(5, 53)
NORUEGA              shape=(117, 53)
NUEVA CALEDONIA      shape=(2, 53)
NUEVA ZELANDA        shape=(316, 53)
PAISES BAJOS         shape=(193, 53)
PAKISTAN             shape=(3, 53)
PANAMA               shape=(63, 53)
PARAGUAY             shape=(598, 53)
PERU                 shape=(1417, 53)
POLINESIA FRANCESA   shape=(1, 53)
POLONIA              shape=(205, 53)
PORTUGAL             shape=(158, 53)
PUERTO RICO          shape=(70, 53)
REINO UNIDO          shape=(2132, 53)
REPUBLICA CHECA      shape=(43, 53)
REPUBLICA DEL CONGO  shape=(1, 53)
REPUBLICA DOMINICANA shape=(38, 53)
RUMANIA              shape=(35, 53)
RUSIA                shape=(230, 53)
SAN MARINO           shape=(2, 53)
SENEGAL              shape=(2, 53)
SERBIA               shape=(15, 53)
SINGAPUR             shape=(35, 53)
SIRIA                shape=(5, 53)
SOMALIA              shape=(1, 53)
SRI LANKA            shape=(1, 53)
SUDAFRICA            shape=(73, 53)
SUECIA               shape=(156, 53)
SUIZA                shape=(597, 53)
SURINAM              shape=(2, 53)
TAILANDIA            shape=(19, 53)
TAIWAN               shape=(29, 53)
TASMANIA             shape=(1, 53)
TRINIDAD Y TOBAGO    shape=(2, 53)
TUNEZ                shape=(1, 53)
TURQUIA              shape=(180, 53)
UCRANIA              shape=(51, 53)
UGANDA               shape=(2, 53)
URUGUAY              shape=(3358, 53)
VENEZUELA            shape=(1413, 53)
VIETNAM              shape=(2, 53)
YEMEN                shape=(1, 53)
ZIMBABUE             shape=(2, 53)

* Si bien podemos hacer este tipo de operaciones de forma manual, veremos enseguida la potencialidad que tienen las funcionalidades ``apply``.

#### Dispatch methods

* Cualquier método no implementado de forma explícita por el objeto ``GroupBy`` será ejecutado en cada grupo. Estos métodos se heredan de la clase DataFrame. 
* Por ejemplo, se puede usar el método ``describe()`` de ``DataFrame``s para realizar muchas operaciones de agregación al interior de cada grupo.

In [22]:
turistas.groupby('PAIS_EXT')[['PASAJEROS', 'PERNOCTACIONES']].describe()

                     PASAJEROS                                            \
                         count      mean       std  min   25%  50%   75%
PAIS_EXT
                       39685.0  1.771249  1.316617  1.0  1.00  2.0  2.00
ALBANIA                    1.0  2.000000       NaN  2.0  2.00  2.0  2.00
ALEMANIA                2501.0  1.834866  0.950537  1.0  1.00  2.0  2.00
ANDORRA                    1.0  1.000000       NaN  1.0  1.00  1.0  1.00
ANGOLA                     4.0  1.750000  0.957427  1.0  1.00  1.5  2.25
ARABIA SAUDITA             2.0  1.500000  0.707107  1.0  1.25  1.5  1.75
ARGELIA                    1.0  4.000000       NaN  4.0  4.00  4.0  4.00
ARMENIA                   12.0  2.166667  0.937437  1.0  2.00  2.0  2.00
ARUBA                      2.0  1.500000  0.707107  1.0  1.25  1.5  1.75
AUSTRALIA               1474.0  2.023066  0.946360  1.0  1.00  2.0  2.00
AUSTRIA                  181.0  1.845304  1.037273  1.0  1.00  2.0  2.00
AZERBAIYAN                 1.0  2.000000       NaN  2.0  2.00  2.0  2.00
BAHAMAS                    4.0  2.500000  1.732051  1.0  1.75  2.0  2.75
BANGLADESH                 1.0  2.000000       NaN  2.0  2.00  2.0  2.00
BELGICA                  193.0  1.844560  0.807958  1.0  1.00  2.0  2.00
BERMUDAS                   1.0  1.000000       NaN  1.0  1.00  1.0  1.00
BIELORRUSIA                3.0  1.666667  0.577350  1.0  1.50  2.0  2.00
BOLIVIA                  525.0  2.001905  1.124839  1.0  1.00  2.0  2.00
BOSNIA Y HERZEGOVINA       1.0  1.000000       NaN  1.0  1.00  1.0  1.00
BRASIL                 18613.0  2.246279  1.238076  1.0  2.00  2.0  2.00
BRUNEI                     1.0  2.000000       NaN  2.0  2.00  2.0  2.00
BULGARIA                  16.0  1.625000  0.718795  1.0  1.00  1.5  2.00
CABO VERDE                 1.0  2.000000       NaN  2.0  2.00  2.0  2.00
CANADA                  1165.0  2.043777  1.807955  1.0  1.00  2.0  2.00
CATAR                      3.0  3.333333  2.309401  2.0  2.00  2.0  4.00
CHILE                   5630.0  2.177975  2.355871  1.0  2.00  2.0  2.00
CHINA                    636.0  1.888365  1.169880  1.0  1.00  2.0  2.00
COLOMBIA                3545.0  2.045980  1.148596  1.0  1.00  2.0  2.00
COREA DEL NORTE           10.0  1.800000  0.788811  1.0  1.00  2.0  2.00
COREA DEL SUR            376.0  1.816489  1.035809  1.0  1.00  2.0  2.00
...                        ...       ...       ...  ...   ...  ...   ...
REINO UNIDO             2132.0  1.963884  1.084903  1.0  1.00  2.0  2.00
REPUBLICA CHECA           43.0  1.790698  0.989424  1.0  1.00  2.0  2.00
REPUBLICA DEL CONGO        1.0  1.000000       NaN  1.0  1.00  1.0  1.00
REPUBLICA DOMINICANA      38.0  2.131579  1.166447  1.0  1.00  2.0  2.00
RUMANIA                   35.0  1.657143  0.764771  1.0  1.00  2.0  2.00
RUSIA                    230.0  1.930435  1.534020  1.0  1.00  2.0  2.00
SAN MARINO                 2.0  2.000000  0.000000  2.0  2.00  2.0  2.00
SENEGAL                    2.0  1.500000  0.707107  1.0  1.25  1.5  1.75
SERBIA                    15.0  1.400000  0.507093  1.0  1.00  1.0  2.00
SINGAPUR                  35.0  1.571429  0.739066  1.0  1.00  1.0  2.00
SIRIA                      5.0  1.800000  0.447214  1.0  2.00  2.0  2.00
SOMALIA                    1.0  2.000000       NaN  2.0  2.00  2.0  2.00
SRI LANKA                  1.0  1.000000       NaN  1.0  1.00  1.0  1.00
SUDAFRICA                 73.0  2.301370  1.515521  1.0  2.00  2.0  2.00
SUECIA                   156.0  1.884615  0.976905  1.0  1.00  2.0  2.00
SUIZA                    597.0  1.879397  0.968737  1.0  1.00  2.0  2.00
SURINAM                    2.0  2.000000  1.414214  1.0  1.50  2.0  2.50
TAILANDIA                 19.0  2.368421  1.011628  1.0  2.00  2.0  3.00
TAIWAN                    29.0  1.793103  1.235756  1.0  1.00  1.0  2.00
TASMANIA                   1.0  1.000000       NaN  1.0  1.00  1.0  1.00
TRINIDAD Y TOBAGO          2.0  2.500000  2.121320  1.0  1.75  2.5  3.25
TUNEZ                      1.0  1.000000       NaN  1.0  1.00  1.0  1.00
TURQUIA                  180.0  2.161111  2.135530  1.0  1.00  2.0  2.00
UCRANIA                   51.0  1.862745  0.825097  1.0  1.00  2.0  2.00
UGANDA                     2.0  1.000000  0.000000  1.0  1.00  1.0  1.00
URUGUAY                 3358.0  2.226623  1.256563  1.0  2.00  2.0  2.00
VENEZUELA               1413.0  2.029724  1.157789  1.0  1.00  2.0  2.00
VIETNAM                    2.0  1.500000  0.707107  1.0  1.25  1.5  1.75
YEMEN                      1.0  2.000000       NaN  2.0  2.00  2.0  2.00
ZIMBABUE                   2.0  1.500000  0.707107  1.0  1.25  1.5  1.75

                            PERNOCTACIONES                                   \
                        max          count       mean        std        min
PAIS_EXT
                       60.0        39685.0   6.070824   9.087899   0.000000
ALBANIA                 2.0            1.0  10.000000        NaN  10.000000
ALEMANIA               19.0         2501.0   8.446282  23.848800   0.000000
ANDORRA                 1.0            1.0  11.000000        NaN  11.000000
ANGOLA                  3.0            4.0   7.220153   2.066661   5.000000
ARABIA SAUDITA          2.0            2.0   5.000000   0.000000   5.000000
ARGELIA                 4.0            1.0  15.000000        NaN  15.000000
ARMENIA                 4.0           12.0   6.416667   4.925967   2.000000
ARUBA                   2.0            2.0   4.470153   3.493323   2.000000
AUSTRALIA              10.0         1474.0   6.662783  14.833097   0.000000
AUSTRIA                10.0          181.0   9.597593  29.915785   0.000000
AZERBAIYAN              2.0            1.0   3.000000        NaN   3.000000
BAHAMAS                 5.0            4.0   4.750000   3.774917   2.000000
BANGLADESH              2.0            1.0  15.000000        NaN  15.000000
BELGICA                 5.0          193.0   8.798779  16.841105   0.000000
BERMUDAS                1.0            1.0   6.940305        NaN   6.940305
BIELORRUSIA             2.0            3.0   5.646768   1.501642   4.000000
BOLIVIA                10.0          525.0   8.745502  18.246132   0.000000
BOSNIA Y HERZEGOVINA    1.0            1.0   8.000000        NaN   8.000000
BRASIL                 36.0        18613.0   5.587820  10.092385   0.000000
BRUNEI                  2.0            1.0   8.000000        NaN   8.000000
BULGARIA                3.0           16.0   7.742538   4.712998   2.000000
CABO VERDE              2.0            1.0   5.000000        NaN   5.000000
CANADA                 45.0         1165.0   6.840422  12.767319   0.000000
CATAR                   6.0            3.0   6.980102   1.000594   6.000000
CHILE                 150.0         5630.0   6.157958  15.862579   0.000000
CHINA                  10.0          636.0   8.764575  21.466409   0.000000
COLOMBIA               21.0         3545.0  10.952038  33.240230   0.000000
COREA DEL NORTE         3.0           10.0   4.994031   2.576915   1.000000
COREA DEL SUR          10.0          376.0   7.262545  19.098222   0.000000
...                     ...            ...        ...        ...        ...
REINO UNIDO            18.0         2132.0   6.079053   6.519487   0.000000
REPUBLICA CHECA         5.0           43.0   6.389796   6.976155   1.000000
REPUBLICA DEL CONGO     1.0            1.0  30.000000        NaN  30.000000
REPUBLICA DOMINICANA    5.0           38.0  16.020032  58.373749   2.000000
RUMANIA                 5.0           35.0  16.078892  41.294884   0.000000
RUSIA                  16.0          230.0   9.024401  24.237864   0.000000
SAN MARINO              2.0            2.0   2.000000   0.000000   2.000000
SENEGAL                 2.0            2.0  45.500000  62.932504   1.000000
SERBIA                  2.0           15.0   5.196020   2.905517   1.000000
SINGAPUR                4.0           35.0   5.534329   2.655910   1.000000
SIRIA                   2.0            5.0   3.776122   2.917198   1.000000
SOMALIA                 2.0            1.0   7.000000        NaN   7.000000
SRI LANKA               1.0            1.0   7.000000        NaN   7.000000
SUDAFRICA               8.0           73.0   6.457576  10.355861   1.000000
SUECIA                  6.0          156.0   7.637964  11.233744   1.000000
SUIZA                  10.0          597.0   7.601791  13.325503   1.000000
SURINAM                 3.0            2.0   7.500000   3.535534   5.000000
TAILANDIA               4.0           19.0   4.727417   2.837082   1.000000
TAIWAN                  5.0           29.0   9.860011  15.063904   1.000000
TASMANIA                1.0            1.0   5.000000        NaN   5.000000
TRINIDAD Y TOBAGO       4.0            2.0   4.000000   0.000000   4.000000
TUNEZ                   1.0            1.0  10.000000        NaN  10.000000
TURQUIA                18.0          180.0  10.443948  38.051948   0.000000
UCRANIA                 4.0           51.0   8.367867  17.110576   0.000000
UGANDA                  1.0            2.0   4.500000   3.535534   2.000000
URUGUAY                35.0         3358.0   4.472648  11.374495   0.000000
VENEZUELA              25.0         1413.0  14.831724  39.070324   0.000000
VIETNAM                 2.0            2.0   2.500000   0.707107   2.000000
YEMEN                   2.0            1.0   5.000000        NaN   5.000000
ZIMBABUE                2.0            2.0   4.500000   3.535534   2.000000


                            25%        50%        75%         max
PAIS_EXT
                       4.000000   6.940305   6.940305  365.000000
ALBANIA               10.000000  10.000000  10.000000   10.000000
ALEMANIA               3.000000   5.000000   6.940305  365.000000
ANDORRA               11.000000  11.000000  11.000000   11.000000
ANGOLA                 6.455229   6.940305   7.705229   10.000000
ARABIA SAUDITA         5.000000   5.000000   5.000000    5.000000
ARGELIA               15.000000  15.000000  15.000000   15.000000
ARMENIA                3.000000   5.000000   8.000000   20.000000
ARUBA                  3.235076   4.470153   5.705229    6.940305
AUSTRALIA              3.000000   5.000000   6.940305  365.000000
AUSTRIA                3.000000   5.000000   7.000000  360.000000
AZERBAIYAN             3.000000   3.000000   3.000000    3.000000
BAHAMAS                2.000000   3.500000   6.250000   10.000000
BANGLADESH            15.000000  15.000000  15.000000   15.000000
BELGICA                3.000000   5.000000   7.000000  180.000000
BERMUDAS               6.940305   6.940305   6.940305    6.940305
BIELORRUSIA            5.000000   6.000000   6.470153    6.940305
BOLIVIA                4.000000   6.940305   7.000000  360.000000
BOSNIA Y HERZEGOVINA   8.000000   8.000000   8.000000    8.000000
BRASIL                 4.000000   5.000000   6.940305  365.000000
BRUNEI                 8.000000   8.000000   8.000000    8.000000
BULGARIA               4.750000   6.940305  10.000000   21.000000
CABO VERDE             5.000000   5.000000   5.000000    5.000000
CANADA                 3.000000   5.000000   6.940305  360.000000
CATAR                  6.470153   6.940305   7.470153    8.000000
CHILE                  4.000000   5.000000   6.940305  365.000000
CHINA                  4.000000   6.940305   7.000000  365.000000
COLOMBIA               5.000000   6.940305   7.000000  365.000000
COREA DEL NORTE        4.000000   5.000000   6.455229   10.000000
COREA DEL SUR          3.000000   6.000000   7.000000  365.000000
...                         ...        ...        ...         ...
REINO UNIDO            3.000000   5.000000   6.940305  119.000000
REPUBLICA CHECA        3.000000   5.000000   7.000000   45.000000
REPUBLICA DEL CONGO   30.000000  30.000000  30.000000   30.000000
REPUBLICA DOMINICANA   3.000000   6.000000   7.750000  365.000000
RUMANIA                3.000000   5.000000   7.000000  180.000000
RUSIA                  4.000000   6.940305   7.000000  360.000000
SAN MARINO             2.000000   2.000000   2.000000    2.000000
SENEGAL               23.250000  45.500000  67.750000   90.000000
SERBIA                 3.500000   4.000000   5.970153   12.000000
SINGAPUR               4.000000   6.000000   7.000000   15.000000
SIRIA                  2.000000   2.000000   6.940305    6.940305
SOMALIA                7.000000   7.000000   7.000000    7.000000
SRI LANKA              7.000000   7.000000   7.000000    7.000000
SUDAFRICA              3.000000   5.000000   6.940305   90.000000
SUECIA                 4.000000   5.000000   7.000000  120.000000
SUIZA                  3.000000   5.000000   7.000000  180.000000
SURINAM                6.250000   7.500000   8.750000   10.000000
TAILANDIA              2.500000   4.000000   6.940305   10.000000
TAIWAN                 3.000000   5.000000   6.940305   60.000000
TASMANIA               5.000000   5.000000   5.000000    5.000000
TRINIDAD Y TOBAGO      4.000000   4.000000   4.000000    4.000000
TUNEZ                 10.000000  10.000000  10.000000   10.000000
TURQUIA                3.000000   5.000000   6.940305  365.000000
UCRANIA                2.000000   4.000000   7.000000  120.000000
UGANDA                 3.250000   4.500000   5.750000    7.000000
URUGUAY                2.000000   3.000000   6.000000  365.000000
VENEZUELA              4.000000   6.940305  12.000000  365.000000
VIETNAM                2.250000   2.500000   2.750000    3.000000
YEMEN                  5.000000   5.000000   5.000000    5.000000
ZIMBABUE               3.250000   4.500000   5.750000    7.000000

[130 rows x 16 columns]

* ¿Qué puede decirse de estos datos? 
* Este es solo un ejemplo de la utilidad de estos métodos. Notar que son aplicados a cada uno de los grupos individuales y que los resultados son combinados en un objeto `GroupBy` y retornados.

### Aggregate, filter, transform, apply

* Hay muchas más opciones de operaciones disponibles.
* Los objetos ``GroupBy`` tienen algunos métodos muy útiles: ``aggregate()``, ``filter()``, ``transform()`` y ``apply()`` que implementan muchas operaciones en la etapa previa al "combine"

* Ilustremos estas operaciones con el siguiente ``DataFrame``:

#### Aggregation

* El método ``aggregate()`` permite una gran flexibilidad:
* Puede tomar un string, una función o una lista y computar todos los agregados en un solo paso.

In [23]:
turistas.groupby('ARGENTINA')["PASAJEROS"].aggregate([np.min, np.mean, np.median,\
                                                      np.max, np.sum])

                        amin      mean  median  amax     sum
ARGENTINA
                           1  2.073941       2   150  140130
BUENOS AIRES               1  2.021074       2    50    9111
CATAMARCA                  1  1.793750       2     9     287
CHACO                      1  1.876751       2     7     670
CHUBUT                     1  1.899371       2     5     604
CIUDAD DE BUENOS AIRES     1  1.510368       1    40   31174
CORDOBA                    1  2.119264       2    25    9098
CORRIENTES                 1  1.920502       2    12     918
ENTRE RIOS                 1  1.927210       2    19    1112
FORMOSA                    1  1.892617       2    10     282
JUJUY                      1  2.036585       2    22     501
LA PAMPA                   1  1.883495       2     5     388
LA RIOJA                   1  1.764706       2     4     180
MENDOZA                    1  2.123726       2    60    2918
MISIONES                   1  1.897690       2     7     575
NEUQUEN                    1  2.350515       2    60    1140
NO INFORMO PROVINCIA       1  1.166667       1     2       7
RIO NEGRO                  1  2.070769       2    50     673
SALTA                      1  1.931034       2     6     840
SAN JUAN                   1  2.065421       2    41     663
SAN LUIS                   1  1.979424       2    10     481
SANTA CRUZ                 1  1.953704       2     6     422
SANTA FE                   1  2.104964       2    45    5555
SANTIAGO DEL ESTERO        1  2.028571       2     5     284
TIERRA DEL FUEGO           1  2.005714       2     5     351
TUCUMAN                    1  2.107511       2    20    1431

* Otra forma útil es pasar un diccionario que mapea nombres de columnas con operaciones. De esta forma se puede espeficiar una operación distinta a cada columna.

In [24]:
turistas.groupby('ARGENTINA')['PASAJEROS'].aggregate([np.min, 
                 np.median, np.max, np.sum]).rename(columns={'amin': 'grupo_mas_chico',
                'median': 'grupo_mediano','amax':'grupo_mas_chico','sum':'total'}).head()

              grupo_mas_chico  grupo_mediano  grupo_mas_chico   total
ARGENTINA
                            1              2              150  140130
BUENOS AIRES                1              2               50    9111
CATAMARCA                   1              2                9     287
CHACO                       1              2                7     670
CHUBUT                      1              2                5     604

#### Filtering

* Una operación filtering permite "descartar" datos basado en propiedades del grupo.
* Por ejemplo, podríamos querer mantener todos los grupos en los que la desviación estándar sea mayor que algún valor de corte:

In [25]:
def filter_func(x, lim):
    return x["PERNOCTACIONES"].std() > lim

In [26]:
filter_func(turistas, 20)

False

In [27]:
turistas.groupby('ARGENTINA').filter(filter_func, lim=20)["ARGENTINA"].unique()

array(['SALTA', 'CHACO', 'SAN JUAN', 'TUCUMAN', 'JUJUY',
       'TIERRA DEL FUEGO'], dtype=object)

* La función de filtro retorna un booleano especificando si el grupo pasa o no el filtro.

#### Transformation

* Mientras que aggregation devuelve una versión reducida de los datos, transformation retorna alguna versión transformada de los datos para, luego, hacer el combine.
* El output de una transformation es del mismo `shape` que el input.

In [28]:
def center_mean(x):
    return(x - x.mean())

print(turistas[["ARGENTINA","PASAJEROS"]].groupby('ARGENTINA').transform(center_mean))

        PASAJEROS
0       -0.073941
1       -0.073941
2       -0.073941
3        2.876274
4       -0.119264
5       -0.073941
6       -0.073941
7        3.489632
8       -0.073941
9       -0.073941
10      -1.073941
11       1.926059
12      -0.073941
13      -0.021074
14       2.880736
15      -0.119264
16       1.926059
17       0.876274
18      -0.073941
19       0.926059
20       0.489632
21      -0.510368
22      -0.073941
23      -0.073941
24       0.068966
25       2.489632
26      -0.073941
27      -0.510368
28      -0.350515
29      -0.073941
...           ...
106912  -1.021074
106913  -0.104964
106914  -0.021074
106915  -0.119264
106916  -0.119264
106917  -0.021074
106918  -0.104964
106919  -0.119264
106920  -1.119264
106921  -0.021074
106922  -0.119264
106923  -0.119264
106924  -0.510368
106925  -1.104964
106926  -1.104964
106927  -1.073941
106928  -1.073941
106929  -1.073941
106930  -1.073941
106931  -1.073941
106932   1.926059
106933  -1.119264
106934  -0.104964
106935  -0.510368
106936   0.489632
106937  -1.073941
106938  -1.073941
106939  -0.073941
106940  -1.073941
106941  -0.073941

[106942 rows x 1 columns]

* ¿Qué hace el siguiente bloque de código?

#### El método `apply()`

* El método `apply()` permite aplicar alguna función dada a los resultados del group.
* La función debería tomar como input ``DataFrame`` y devolver un objeto de Pandas (``DataFrame``, ``Series``) o un escalar. 
* La operación combine se adaptará al tipo de salida devuelta.

In [29]:
# El resultado es una columna PASAJEROS normalizada por la participación 
#del grupo en el total de pasajeros de la provincia:

def norm_by_data2(x):
    # x is a DataFrame of group values
    x['PASAJEROS'] /= x['PERNOCTACIONES'].sum()
    return x

turistas[["ARGENTINA","PASAJEROS","PERNOCTACIONES"]].groupby('ARGENTINA')\
                                           .apply(norm_by_data2).sample(15)

                     ARGENTINA  PASAJEROS  PERNOCTACIONES
17554                  TUCUMAN   0.000195        7.000000
39163   CIUDAD DE BUENOS AIRES   0.000007        6.940305
19964                            0.000004        6.940305
57985      SANTIAGO DEL ESTERO   0.004444        6.000000
62110                            0.000006      180.000000
55819                  CORDOBA   0.000050        0.000000
49140                            0.000004        3.000000
45117                 LA RIOJA   0.003817        6.940305
62084                            0.000004        6.000000
52342                            0.000002        4.000000
45889                            0.000004        6.940305
1658                             0.000002        5.000000
35575             BUENOS AIRES   0.000266        3.000000
105747            BUENOS AIRES   0.000106        1.000000
50134                            0.000004       60.000000

* ¿Qué operación produce el bloque de código anterior?

### Especificando la clave del "split"

* En el ejemplo anterior se hacía el split del ``DataFrame`` sobre una sola columna.
* Hay otras opciones...

#### Una lista, array, series, o index que contiene las claves del grouping

In [30]:
L = ["CAT","ARGENTINA"]
turistas.groupby(L).sum()

                                          ID  PASAJEROS  PERNOCTACIONES  \
CAT        ARGENTINA
AEROPARQUE                          80696414       2509    13140.224873
           BUENOS AIRES              7941050        224      487.746410
           CATAMARCA                 1244500         40      108.940305
           CHACO                      983903         34      107.880611
           CHUBUT                    1993985         49      236.820916
           CIUDAD DE BUENOS AIRES   85900646       1958     9417.994234
           CORDOBA                  10078375        329      720.865800
           CORRIENTES                1354056         35      126.820916
           ENTRE RIOS                 601956         14       66.940305
           FORMOSA                    608369         12       42.000000
           JUJUY                     1494666         42      451.000000
           LA PAMPA                   459164         13       33.940305
           LA RIOJA                   470381          9       34.940305
           MENDOZA                   5094207        153      617.522442
           MISIONES                  1694579         38      145.761221
           NEUQUEN                   3307433        107      310.880611
           RIO NEGRO                 1981710         68      296.000000
           SALTA                     3940129        124      782.641832
           SAN JUAN                  1382512         45      107.820916
           SAN LUIS                   526583         13       31.000000
           SANTA CRUZ                1414308         41      251.940305
           SANTA FE                  1541733         41       95.940305
           SANTIAGO DEL ESTERO        300958         10       12.000000
           TIERRA DEL FUEGO          1157823         27      120.880611
           TUCUMAN                   2989178        114      274.880611
CAMINITO                           327420176      11039    29911.873036
           BUENOS AIRES             18208809        926     1236.030073
           CATAMARCA                   81517          1        6.940305
           CHACO                      764989         42       83.000000
           CHUBUT                     721815         29       63.000000
...                                      ...        ...             ...
RECOLETA   SANTA CRUZ                 547779         32       81.000000
           SANTA FE                  9532511        637     1107.403053
           SANTIAGO DEL ESTERO        321942         19       53.000000
           TIERRA DEL FUEGO           790664         44      108.940305
           TUCUMAN                   2318074        125      332.761221
RETIRO                             288043065       8751    40351.436292
           BUENOS AIRES             48819924       1429     2756.582589
           CATAMARCA                 3281308         85      271.880611
           CHACO                     8212223        230     1748.820916
           CHUBUT                    2395694         75      257.940305
           CIUDAD DE BUENOS AIRES   62675674       1505     8117.320972
           CORDOBA                  53653823       1603     3042.254042
           CORRIENTES               10490033        283     1241.582137
           ENTRE RIOS               12514477        358      696.164274
           FORMOSA                   3431179        103      465.940305
           JUJUY                     2945946         98      531.880611
           LA PAMPA                  4674995        115      247.761221
           LA RIOJA                  2222437         65      176.940305
           MENDOZA                  16467762        549     1189.343358
           MISIONES                  6993580        200      761.403053
           NEUQUEN                   3309306        103      331.701526
           RIO NEGRO                 4531296        147      374.761221
           SALTA                     4171757        126      446.820916
           SAN JUAN                  5124748        166     1066.641832
           SAN LUIS                  5490131        191      315.761221
           SANTA CRUZ                2186084         55      153.940305
           SANTA FE                 45422131       1497     2539.612210
           SANTIAGO DEL ESTERO       2667285         82      222.940305
           TIERRA DEL FUEGO          1343811         51       85.820916
           TUCUMAN                   5857259        193      840.820916

                                   ACCESIBILIDAD  AGENCIAS_COMPAÑIAS_AEREAS  \
CAT        ARGENTINA
AEROPARQUE                                     2                         14
           BUENOS AIRES                        0                          2
           CATAMARCA                           0                          0
           CHACO                               0                          0
           CHUBUT                              0                          0
           CIUDAD DE BUENOS AIRES              1                          6
           CORDOBA                             0                          0
           CORRIENTES                          0                          0
           ENTRE RIOS                          0                          0
           FORMOSA                             0                          0
           JUJUY                               0                          0
           LA PAMPA                            0                          0
           LA RIOJA                            0                          0
           MENDOZA                             0                          0
           MISIONES                            0                          0
           NEUQUEN                             0                          0
           RIO NEGRO                           0                          0
           SALTA                               0                          0
           SAN JUAN                            0                          0
           SAN LUIS                            0                          0
           SANTA CRUZ                          0                          0
           SANTA FE                            0                          2
           SANTIAGO DEL ESTERO                 0                          0
           TIERRA DEL FUEGO                    0                          0
           TUCUMAN                             0                          1
CAMINITO                                       2                         13
           BUENOS AIRES                        0                          0
           CATAMARCA                           0                          0
           CHACO                               0                          0
           CHUBUT                              0                          0
...                                          ...                        ...
RECOLETA   SANTA CRUZ                          0                          0
           SANTA FE                            0                          2
           SANTIAGO DEL ESTERO                 0                          0
           TIERRA DEL FUEGO                    0                          2
           TUCUMAN                             0                          1
RETIRO                                         6                         42
           BUENOS AIRES                        0                          2
           CATAMARCA                           0                          0
           CHACO                               0                          0
           CHUBUT                              0                          0
           CIUDAD DE BUENOS AIRES              0                          7
           CORDOBA                             0                          5
           CORRIENTES                          0                          0
           ENTRE RIOS                          0                          0
           FORMOSA                             0                          0
           JUJUY                               0                          0
           LA PAMPA                            0                          0
           LA RIOJA                            0                          0
           MENDOZA                             0                          2
           MISIONES                            0                          0
           NEUQUEN                             0                          1
           RIO NEGRO                           0                          0
           SALTA                               0                          0
           SAN JUAN                            0                          2
           SAN LUIS                            0                          0
           SANTA CRUZ                          0                          0
           SANTA FE                            0                          0
           SANTIAGO DEL ESTERO                 0                          0
           TIERRA DEL FUEGO                    0                          0
           TUCUMAN                             0                          1

                                   AGENDA_CULTURAL  ALOJAMIENTO  \
CAT        ARGENTINA
AEROPARQUE                                      43           16
           BUENOS AIRES                          8            0
           CATAMARCA                             0            0
           CHACO                                 1            0
           CHUBUT                                0            0
           CIUDAD DE BUENOS AIRES               31            3
           CORDOBA                               7            2
           CORRIENTES                            1            0
           ENTRE RIOS                            3            0
           FORMOSA                               0            0
           JUJUY                                 0            0
           LA PAMPA                              0            0
           LA RIOJA                              0            0
           MENDOZA                               3            3
           MISIONES                              1            0
           NEUQUEN                               8            0
           RIO NEGRO                             4            2
           SALTA                                 1            1
           SAN JUAN                              2            0
           SAN LUIS                              0            0
           SANTA CRUZ                            0            0
           SANTA FE                              1            1
           SANTIAGO DEL ESTERO                   0            0
           TIERRA DEL FUEGO                      0            0
           TUCUMAN                               4            1
CAMINITO                                        17           14
           BUENOS AIRES                          7            0
           CATAMARCA                             0            0
           CHACO                                 0            0
           CHUBUT                                0            0
...                                            ...          ...
RECOLETA   SANTA CRUZ                            0            0
           SANTA FE                             18            2
           SANTIAGO DEL ESTERO                   0            0
           TIERRA DEL FUEGO                      4            0
           TUCUMAN                               5            2
RETIRO                                          72          527
           BUENOS AIRES                         12           40
           CATAMARCA                             2            3
           CHACO                                 2           10
           CHUBUT                                0            4
           CIUDAD DE BUENOS AIRES               25            3
           CORDOBA                              23           52
           CORRIENTES                            1           15
           ENTRE RIOS                            1           10
           FORMOSA                               2            4
           JUJUY                                 1            6
           LA PAMPA                              0            7
           LA RIOJA                              0            0
           MENDOZA                               3           12
           MISIONES                              2            7
           NEUQUEN                               1            6
           RIO NEGRO                             0            3
           SALTA                                 0           14
           SAN JUAN                              5           11
           SAN LUIS                              2            8
           SANTA CRUZ                            2            6
           SANTA FE                              9           43
           SANTIAGO DEL ESTERO                   1            7
           TIERRA DEL FUEGO                      0            3
           TUCUMAN                               1           13

                                   ALREDEDORES_BA  ARTE_Y_ARQUITECTURA  \
CAT        ARGENTINA
AEROPARQUE                                      7                   15
           BUENOS AIRES                         1                    2
           CATAMARCA                            0                    0
           CHACO                                0                    1
           CHUBUT                               1                    1
           CIUDAD DE BUENOS AIRES               1                    0
           CORDOBA                              0                    1
           CORRIENTES                           0                    0
           ENTRE RIOS                           0                    0
           FORMOSA                              0                    0
           JUJUY                                0                    0
           LA PAMPA                             0                    0
           LA RIOJA                             0                    0
           MENDOZA                              0                    0
           MISIONES                             1                    0
           NEUQUEN                              0                    0
           RIO NEGRO                            0                    1
           SALTA                                0                    0
           SAN JUAN                             0                    0
           SAN LUIS                             0                    0
           SANTA CRUZ                           0                    0
           SANTA FE                             0                    0
           SANTIAGO DEL ESTERO                  0                    0
           TIERRA DEL FUEGO                     0                    0
           TUCUMAN                              0                    1
CAMINITO                                       65                  165
           BUENOS AIRES                         4                    8
           CATAMARCA                            0                    0
           CHACO                                0                    0
           CHUBUT                               0                    0
...                                           ...                  ...
RECOLETA   SANTA CRUZ                           2                    0
           SANTA FE                             2                    8
           SANTIAGO DEL ESTERO                  0                    0
           TIERRA DEL FUEGO                     3                    0
           TUCUMAN                              1                    0
RETIRO                                        148                   24
           BUENOS AIRES                        20                    4
           CATAMARCA                            1                    0
           CHACO                                6                    0
           CHUBUT                               1                    0
           CIUDAD DE BUENOS AIRES               9                    0
           CORDOBA                             28                    1
           CORRIENTES                           2                    0
           ENTRE RIOS                           2                    0
           FORMOSA                              1                    0
           JUJUY                                2                    0
           LA PAMPA                             2                    0
           LA RIOJA                             3                    0
           MENDOZA                             15                    0
           MISIONES                             7                    0
           NEUQUEN                              2                    0
           RIO NEGRO                            3                    0
           SALTA                                5                    0
           SAN JUAN                             2                    0
           SAN LUIS                             3                    0
           SANTA CRUZ                           2                    0
           SANTA FE                            21                    3
           SANTIAGO DEL ESTERO                  0                    0
           TIERRA DEL FUEGO                     1                    0
           TUCUMAN                              2                    0

                                   ATRACTIVOS_TURISTICOS  ...  SALUD  TANGO  \
CAT        ARGENTINA                                      ...
AEROPARQUE                                            85  ...      1     87
           BUENOS AIRES                                6  ...      0      8
           CATAMARCA                                   0  ...      0      2
           CHACO                                       1  ...      0      2
           CHUBUT                                      2  ...      0      4
           CIUDAD DE BUENOS AIRES                      7  ...      0     45
           CORDOBA                                     3  ...      0     11
           CORRIENTES                                  0  ...      0      2
           ENTRE RIOS                                  0  ...      0      1
           FORMOSA                                     0  ...      0      1
           JUJUY                                       0  ...      0      0
           LA PAMPA                                    1  ...      1      0
           LA RIOJA                                    0  ...      0      0
           MENDOZA                                     3  ...      0      3
           MISIONES                                    2  ...      0      2
           NEUQUEN                                     1  ...      0     10
           RIO NEGRO                                   3  ...      0      8
           SALTA                                       5  ...      1      4
           SAN JUAN                                    1  ...      0      1
           SAN LUIS                                    0  ...      0      0
           SANTA CRUZ                                  3  ...      0      7
           SANTA FE                                    2  ...      0      4
           SANTIAGO DEL ESTERO                         0  ...      0      0
           TIERRA DEL FUEGO                            0  ...      0      0
           TUCUMAN                                     2  ...      0      4
CAMINITO                                             778  ...      9    156
           BUENOS AIRES                               58  ...      0      4
           CATAMARCA                                   0  ...      0      0
           CHACO                                       3  ...      0      0

In [31]:
turistas.groupby("ARGENTINA").sum().head()

,ID,PASAJEROS,PERNOCTACIONES,ACCESIBILIDAD,AGENCIAS_COMPAÑIAS_AEREAS,AGENDA_CULTURAL,ALOJAMIENTO,ALREDEDORES_BA,ARTE_Y_ARQUITECTURA,ATRACTIVOS_TURISTICOS,...,SALUD,TANGO,VISITAS_GUIADAS,ESTUDIANTE_EXTRANJERO,CONSULTA_DE_PASAJERO_EN_TRANSITO,SUBE,APPS,SURF_URBANO,USO_DE_INSTALACIONES,CANT_DE_MOTIVOS
ARGENTINA,,,,,,,,,,,,,,,,,,,,,
,3611155388,140130,503611.505144,68,655,1440,1119,1642,1128,7340,...,85,1986,1188,25,95,2212,34,80,366,134473
BUENOS AIRES,241442709,9111,18782.783720,1,28,178,63,66,48,328,...,20,112,155,0,11,186,0,3,24,7624
CATAMARCA,10091162,287,906.970379,0,2,5,5,2,0,9,...,1,8,4,0,1,10,0,0,1,295
CHACO,18178772,670,3033.910684,0,1,21,12,9,3,19,...,4,19,3,0,2,25,0,1,3,690
CHUBUT,16568384,604,2083.612210,0,2,17,6,13,6,32,...,0,12,3,0,1,9,0,2,0,608

In [32]:
# Es totalmente equivaliente a
turistas.groupby(turistas["ARGENTINA"]).sum().head()

,ID,PASAJEROS,PERNOCTACIONES,ACCESIBILIDAD,AGENCIAS_COMPAÑIAS_AEREAS,AGENDA_CULTURAL,ALOJAMIENTO,ALREDEDORES_BA,ARTE_Y_ARQUITECTURA,ATRACTIVOS_TURISTICOS,...,SALUD,TANGO,VISITAS_GUIADAS,ESTUDIANTE_EXTRANJERO,CONSULTA_DE_PASAJERO_EN_TRANSITO,SUBE,APPS,SURF_URBANO,USO_DE_INSTALACIONES,CANT_DE_MOTIVOS
ARGENTINA,,,,,,,,,,,,,,,,,,,,,
,3611155388,140130,503611.505144,68,655,1440,1119,1642,1128,7340,...,85,1986,1188,25,95,2212,34,80,366,134473
BUENOS AIRES,241442709,9111,18782.783720,1,28,178,63,66,48,328,...,20,112,155,0,11,186,0,3,24,7624
CATAMARCA,10091162,287,906.970379,0,2,5,5,2,0,9,...,1,8,4,0,1,10,0,0,1,295
CHACO,18178772,670,3033.910684,0,1,21,12,9,3,19,...,4,19,3,0,2,25,0,1,3,690
CHUBUT,16568384,604,2083.612210,0,2,17,6,13,6,32,...,0,12,3,0,1,9,0,2,0,608

#### Un dict o serie mapeando index a grupos

In [33]:
turistas2 = turistas.set_index('ARGENTINA')
mapping = {'CHACO': 'C', 'CHUBUT': 'D', 'CATAMARCA': 'E'}
turistas2.groupby(mapping).sum()

,ID,PASAJEROS,PERNOCTACIONES,ACCESIBILIDAD,AGENCIAS_COMPAÑIAS_AEREAS,AGENDA_CULTURAL,ALOJAMIENTO,ALREDEDORES_BA,ARTE_Y_ARQUITECTURA,ATRACTIVOS_TURISTICOS,...,SALUD,TANGO,VISITAS_GUIADAS,ESTUDIANTE_EXTRANJERO,CONSULTA_DE_PASAJERO_EN_TRANSITO,SUBE,APPS,SURF_URBANO,USO_DE_INSTALACIONES,CANT_DE_MOTIVOS
C,18178772,670,3033.910684,0,1,21,12,9,3,19,...,4,19,3,0,2,25,0,1,3,690
D,16568384,604,2083.612210,0,2,17,6,13,6,32,...,0,12,3,0,1,9,0,2,0,608
E,10091162,287,906.970379,0,2,5,5,2,0,9,...,1,8,4,0,1,10,0,0,1,295

### Ejemplo de aplicación

* Imaginemos que nos consultan cuáles son los lugares de CABA más visitados por los turistas argentinos, según su procedencia. Para ello suponemos que el CAT al que van los turistas indica que fueron a visitar ese lugar. 
* Entonces primero filtramos los turistas extranjeros, agrupamos por provincia, llenamos los Na con 0 y dividimos todo por la cantidad total de turistas argentinos. De esta manera, lo representamos como proporción del total

In [34]:
turistas.loc[turistas.ARGENTINA != " ",].groupby(['ARGENTINA', 
                      'CAT'])['PASAJEROS'].sum().unstack(fill_value=0)/sum(turistas.loc[turistas.ARGENTINA != " ",
                                                                                            "PASAJEROS"])*100

CAT,AEROPARQUE,CAMINITO,FLORIDA,HUB,PLANETARIO,PLAZA SAN MARTIN,PUERTO MADERO,RECOLETA,RETIRO
ARGENTINA,,,,,,,,,
BUENOS AIRES,0.321539,1.329218,3.821144,0.173688,1.165578,2.091438,1.225867,0.898586,2.051245
CATAMARCA,0.057418,0.001435,0.126319,0.000000,0.015790,0.048805,0.015790,0.024402,0.122012
CHACO,0.048805,0.060289,0.223929,0.000000,0.031580,0.139238,0.077514,0.050240,0.330151
CHUBUT,0.070337,0.041628,0.268427,0.002871,0.104787,0.179430,0.045934,0.045934,0.107658
CIUDAD DE BUENOS AIRES,2.810594,2.812029,14.421876,0.228235,4.576186,7.405440,3.765162,6.568578,2.160339
CORDOBA,0.472260,0.849781,3.747937,0.044499,0.782315,2.662743,1.024905,1.174191,2.301012
CORRIENTES,0.050240,0.053111,0.401923,0.005742,0.040192,0.248331,0.067466,0.044499,0.406230
ENTRE RIOS,0.020096,0.083256,0.380392,0.002871,0.064595,0.304314,0.156463,0.070337,0.513888
FORMOSA,0.017225,0.010048,0.080385,0.000000,0.030144,0.058853,0.022967,0.037321,0.147850
JUJUY,0.060289,0.063159,0.225364,0.000000,0.022967,0.104787,0.048805,0.053111,0.140673
LA PAMPA,0.018661,0.010048,0.222493,0.000000,0.014354,0.087562,0.017225,0.021532,0.165076
LA RIOJA,0.012919,0.000000,0.071772,0.000000,0.005742,0.043063,0.027273,0.004306,0.093304
MENDOZA,0.219622,0.302878,1.192852,0.015790,0.192349,0.815331,0.304314,0.357425,0.788057
MISIONES,0.054547,0.035886,0.192349,0.000000,0.050240,0.133496,0.044499,0.027273,0.287088
NEUQUEN,0.153592,0.170817,0.348812,0.011484,0.078949,0.406230,0.232541,0.086126,0.147850
NO INFORMO PROVINCIA,0.000000,0.000000,0.002871,0.000000,0.000000,0.001435,0.005742,0.000000,0.000000
RIO NEGRO,0.097610,0.063159,0.206704,0.002871,0.081820,0.206704,0.061724,0.034451,0.211010
SALTA,0.177995,0.063159,0.360296,0.007177,0.048805,0.223929,0.061724,0.081820,0.180866
SAN JUAN,0.064595,0.101916,0.218187,0.000000,0.041628,0.124883,0.080385,0.081820,0.238283
SAN LUIS,0.018661,0.030144,0.192349,0.000000,0.022967,0.113400,0.008613,0.030144,0.274169
SANTA CRUZ,0.058853,0.020096,0.153592,0.005742,0.050240,0.149286,0.043063,0.045934,0.078949
SANTA FE,0.058853,0.711979,2.072777,0.015790,0.337329,1.307687,0.406230,0.914376,2.148855
SANTIAGO DEL ESTERO,0.014354,0.017225,0.099045,0.000000,0.012919,0.088997,0.030144,0.027273,0.117706
TIERRA DEL FUEGO,0.038757,0.015790,0.162205,0.000000,0.031580,0.087562,0.031580,0.063159,0.073207
TUCUMAN,0.163640,0.101916,0.622981,0.000000,0.094739,0.467954,0.146415,0.179430,0.277040